
@font-face{
    font-family: 'WebSymbolsRegular';
    src: url('./websymbols-regular-webfont.eot');
    src: url('./websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./websymbols-regular-webfont.woff') format('woff'),
    url('./websymbols-regular-webfont.ttf') format('truetype'),    
    url('./websymbols-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-y: hidden;
}

:root{
    --primary-color: #100E1D;
    --secondary-color: #1E213A;
    --white-color: #E7E7EB;
    --grey-color: #6E707A;
}

.fadeIn{
    animation: fadeIn 900ms forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    } to{
        opacity: 1;
    }
}

.quicksand-font{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

.principal-container{
    display: flex;
    flex-flow: row wrap;
    background-color: var(--primary-color);
}

#left{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--secondary-color);
    height: 100vh;
    width: 32vw;
    overflow: auto;
}

#left::-webkit-scrollbar{
    width: 8px;
    background: #2a2e33;
}

#left::-webkit-scrollbar-thumb{
    background: #aaaaaa;
    border-radius: 6px;
}

#left::-webkit-scrollbar-thumb:hover{
    background: #717171;
}

#search-more{ 
    background-color: #6E707A;
    border: none;
    padding-right: 20px !important;
    padding-left: 20px !important;
    color: #E7E7EB;
    box-shadow: 0px 6px 12px -3px rgba(9,9,13,0.69);
    -webkit-box-shadow: 0px 6px 12px -3px rgba(9,9,13,0.69);
    -moz-box-shadow: 0px 6px 12px -3px rgba(9,9,13,0.69);
    transition: all 300ms;
    margin-bottom: 30px;
    margin-top: 1.5rem;
}

#search-more:hover{
    filter: brightness(92%);
    cursor: pointer;
}

#search-container{
    flex-flow: column nowrap;
    align-items: center;
    margin: 0px auto !important;
    transition: all 450ms ease;
    height: 100vh;
    transform: translateX(-770px);
    width: 100%;
    z-index: 1;
    background-color: var(--secondary-color);
} 

.change-default-city-container{
    padding-bottom: 20px;
}

form{
    width: 100%;
    margin-top: 65px;
    justify-content: center !important;
}

form button{
    border: none;
    background-color: rgb(60, 71, 233);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    padding: 12px 15px;
    transition: all 300ms;
}

form button:hover{
    filter: brightness(90%);
}

#search-container input{
    width: 70% !important;
    background-color: transparent;
    border: 1px solid rgb(231, 231, 235);
    padding: 12px 12px 12px 12px;
    color: var(--white-color);
    font-weight: 500;
    transition: all 300ms;
    text-transform: capitalize;
}

#search-container input:focus{
    outline: none;
}

#btn-close{
    position: absolute;
    top: 15px;
    right: 45px;
    color: var(--white-color);
    font-size: 24px;
    cursor: pointer;
}

#div-alerts{
    color: var(--white-color) !important;
}

.cities-recomendation{
    display: flex;
    background-color: transparent;
    transition: all 300ms;
    padding: 15px;
    width: 83%;
    margin-top: 25px;
}


.cities-recomendation p{
    color: var(--white-color) !important;
    font-size: 30px !important;
    font-weight: lighter !important;
}

.cities-recomendation span{
    font-family: 'WebSymbolsRegular' !important;
    font-size: 20px;
    margin: 0px auto;
    margin-right: 10px;
    color: var(--white-color);
}

.cities-recomendation:hover{
    border: 1px solid rgb(231, 231, 235);
    cursor: pointer;
}

.cities-recomendation:active{
    border: 1px solid rgb(231, 231, 235);
    cursor: pointer;
    filter: brightness(70%);
}

#change-default-city{
    background-color: #6E707A;
    border: none;
    padding-right: 20px !important;
    padding-left: 20px !important;
    color: #E7E7EB;
    box-shadow: 0px 6px 12px -3px rgba(9,9,13,0.69);
    -webkit-box-shadow: 0px 6px 12px -3px rgba(9,9,13,0.69);
    -moz-box-shadow: 0px 6px 12px -3px rgba(9,9,13,0.69);
    transition: all 300ms;
    margin-top: 10px;
    padding: 10px;
}

#change-default-city:hover{
    cursor: pointer;
    filter: brightness(92%);
}

#weather-section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 30px;
    gap: 65px;
}

.weather-icon{
    width: 100px;
    height: 100px;
}

#weather-section h2{
    font-family: 'Changa One', sans-serif;
    font-size: 48px !important;
    color: white !important;
}

#weather-section h2 span{
    font-size: 35px;
    color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
}

#weather-section h3{
    font-size: 43px;
    color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
   
}

.min-max{
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-right: 10px;
    padding-left: 10px;
    gap: 40px;
}

.min-max p{
    font-size: 30px;
    color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
}

.date-div{
    flex-flow: row wrap;
    gap: 15px;
}

.date-div span{
    font-size: 20px;
    color: var(--white-color);
    font-family: 'Quicksand', sans-serif;
}

.ubication-div{
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.ubication-div .ubication-icon{
    font-family: 'WebSymbolsRegular';
    font-size: 30px;
    color: var(--white-color);
}

.ubication-div span{
    font-size: 30px;
    text-transform: capitalize;
    color: var(--white-color);
}

.right{
    width: 68vw;
    height: 100vh;
    overflow: auto;
}

.right::-webkit-scrollbar{
    width: 9px;
    background: #2a2e33;
}

.right::-webkit-scrollbar-thumb{
    background: #aaaaaa;
    border-radius: 6px;
}

.right::-webkit-scrollbar-thumb:hover{
    background: #717171;
}

.temperature-unit{
    width: 65vw;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: flex-end;
}


.unit{
    border: none;
    width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #585676;
    color: var(--white-color);
    font-size: 20px;
    font-weight: bold;
    transition: all 300ms;
}

.select-unit{
    color: var(--primary-color);
    background-color: var(--white-color);
}

.highlights-section-container{
    min-height: calc(100vh - 1.2rem - 45.59px - 3rem - 0.5rem - 50px - 3rem - 110px);
}

#highlights-section{
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
    width: 100%;
    margin-top: 2.2rem;
    gap: 35px;
}

.highlights-title{
    font-size: 38px;
    font-family: 'Quicksand';
    margin-top: 3rem;
}

.box-highlight{
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.box-highlight h3{
    color: var(--white-color);
    font-family: 'Quicksand';
    font-size: 30px;
}

.box-highlight .principal-span{
    font-family: 'Changa One', sans-serif;
    color: var(--white-color);
    font-weight: lighter;
    font-size: 55px;
}

.box-highlight span{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    color: var(--white-color);
    font-weight: lighter;
    font-size: 35px;
}

footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer h3{
    color: var(--white-color);
    font-family: 'Quicksand';
    font-size: 25px;
}

/* width media queries */

@media(max-width: 1600px){
    #highlights-section{
        grid-template-columns: 40% 40%;
    }

    .box-highlight .principal-span{
        font-size: 45px;
    }
    
    .box-highlight span{
        font-size: 30px;
    }

    #btn-close{
        right: 25px;
    }
}

@media(max-width: 1320px){
    .min-max{
        flex-direction: column !important;
    }
}

@media(max-width: 1220px){
    .ubication-div{
        gap: 15px;
    }

    .ubication-div span{
        font-size: 20px;
    }
    
    .ubication-icon{
        font-size: 30px !important;
    }
}

@media(max-width: 1100px){
    #search-container input{
        width: 60% !important;
    }

    #btn-close{
        right: 20px;
    }
}

@media(max-width: 1000px){
    #highlights-section{
        grid-template-columns: 80%;
    }

    #weather-section h2{
        font-size: 43px !important;
    }

    #weather-section h2 span{
        font-size: 30px;
    }

    #weather-section h3{
        font-size: 35px;
    }

    .min-max p{
        font-size: 25px;
    }

    .ubication-div{
        gap: 10px;
    }

    .ubication-icon{
        font-size: 20px !important;
    }
    
}

@media(max-width: 800px){
    body{
        overflow-y: scroll;
    }

    .principal-container{
        flex-direction: column wrap !important;
    }

    #left{
        width: 100%;
        min-height: 100vh;
        height: 100%;
        overflow-y: hidden;
    }

    .right{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .temperature-unit{
        width: 100vw;
        justify-content: center;
    }

    .min-max{
        flex-direction: row !important;
    }

    #weather-section h2{
        font-family: 'Changa One', sans-serif;
        font-size: 48px !important;
        color: white !important;
    }
    
    #weather-section h2 span{
        font-size: 35px;
    }
    
    #weather-section h3{
        font-size: 43px;
    }

    .min-max p{
        font-size: 30px;
    }

    .ubication-div{
        gap: 25px;
    }
    
    .ubication-div .ubication-icon{
        font-size: 30px !important;
    }
    
    .ubication-div span{
        font-size: 30px;
    }

    #search-container{
        overflow: auto;
    }

    #search-container::-webkit-scrollbar{
        width: 8px;
        background: #2a2e33;
    }
    
    #search-container::-webkit-scrollbar-thumb{
        background: #aaaaaa;
        border-radius: 6px;
    }
    
    #search-container::-webkit-scrollbar-thumb:hover{
        background: #717171;
    }

}

@media(max-width: 394px){
    #weather-section h2{
        font-size: 43px !important;
    }

    #weather-section h2 span{
        font-size: 30px;
    }

    #weather-section h3{
        font-size: 35px;
    }

    .min-max p{
        font-size: 25px;
    }

    .ubication-div{
        gap: 10px;
    }

    .ubication-div span{
        font-size: 20px !important;
    }

    .ubication-div .ubication-icon{
        font-size: 25px !important;
    }
}

@media(max-width: 285px){
    #highlights-section .box-highlight{
        padding: 30px !important;
    }
}


/* height media queries */

@media(max-height: 823px){
    #weather-section{
        gap: 50px;
    }
}
